@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
}

#timer-container {
  gap: 10px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (max-width: 767px) {
  #timer-container {
    flex-direction: row !important;
    padding: 0 10px !important;
    width: 100% !important;
    gap: 10px !important;
  }
  
  #timer-display {
    font-size: 1.25rem !important;
    margin-bottom: 0 !important;
    min-width: 80px !important;
    text-align: right !important;
  }
}
